@import 'css/colors.scss';

#about-me {
  section {
    width: 500px;
    margin: 0 auto;
  }
  h1 {
    display: flex;
    align-items: center;
    color: $primary-color;
    img {
      margin-right:15px;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    li:not(:first-child) {
      margin-top: 20px;
    }
  }

  p,
  span {
    font-size: 18px;
    line-height: 1.5;
  }
  .list-item {
    display: flex;
    align-items: center;
    img {
      height: 40px;
      width: 40px;
      margin-right: 20px;
    }
  }
}
