@import 'css/colors.scss';

#about-me {
  overflow: scroll;
  section {
    width: 500px;
    margin: 0 auto;
    padding-bottom: 10px;
    @media all and (max-width: 480px) {
      padding: 0 15px;
      padding-bottom:10px;
      width: 100%;
    }
  }
  h1 {
    display: flex;
    align-items: center;
    color: $primary-color;
    @media all and (max-width: 480px) {
      font-size: 20px;
    }
    img {
      margin-right: 15px;
      height: 100px;
      width: 100px;
      @media all and (max-width: 480px) {
        height: 50px;
        width: 50px;
      }
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li:not(:first-child) {
      margin-top: 20px;
    }
  }

  p,
  span {
    font-size: 18px;
    line-height: 1.5;
    @media all and (max-width: 480px) {
      font-size: 16px;
    }
  }
  .list-item {
    display: flex;
    align-items: center;
    img {
      height: 40px;
      width: 40px;
      margin-right: 20px;
      @media all and (max-width: 480px) {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.social-grid {
  display: flex;
  justify-content: space-around;
  .social-item {
    width: 60px;
    height: 60px;
  }
}
