.words-container {
  line-height: 80px;
  overflow: hidden;
  padding: 0 20px;
  word-break: break-word;
  flex-grow: 1;
  background-color: blue;
  @media all and (max-width: 480px) {
    line-height: 60px;
  }
}
.content {
  flex: auto;
  display: flex;
  flex-direction: column;
}
input {
  margin-top: auto;
  height: 40px;
  flex: none;
  font-weight: bold;
  padding-left: 2%;
}
.metric-score {
  font-family: 'Fredoka One', cursive;
  color: white;
  opacity: 0.7;
}
.transitionable {
  transition: all 0.5s;
}
.disabled {
  opacity: 0.1;
}
.secondary-toolbar {
  background-color: #48a999;
}
@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin: 0px;
    color: white;
    opacity: 0.6;
    font-weight: bold;
    text-align: center;
  }
  .icon {
    color: white;
    opacity: 0.6;
    margin-right: 15px;
  }
  .row {
    margin-top: 5px;
    align-items: center;
  }
}
.progress-bar {
  background-color: #48a999;
  height: 3.125rem;
  box-shadow: 0 0 10px #48a999;
  flex: none;
  @media all and (max-width: 991px) {
  }
  @media all and (max-width: 768px) {
  }
  @media all and (max-width: 480px) {
    height: 1.25rem;
  }
}
input {
  font-family: 'Roboto', sans-serif;
  // height:80px;
  flex: none;
}

.SUCCESS {
  color: hsl(141, 71%, 48%);
}
.FAILED {
  color: hsl(348, 100%, 61%);
}
.NEUTRAL {
  color: hsl(0, 0%, 21%);
}

.letter {
  transition: color 0.6s;
}

.word {
  color: black;
  font-family: 'Fredoka One', cursive;
  border-radius: 15px;
  display: inline-block;
  transition: background-color 0.6s;
}
.correct-word {
  background-color: rgba(0, 128, 0, 0.10196078431372549);
  color: rgba(0, 128, 0, 0.8196078431372549);
}

.incorrect-word {
  background-color: rgba(255, 0, 0, 0.09019607843137255);
  color: rgba(255, 0, 0, 0.9490196078431372);
}
.restart {
  cursor: pointer;
}
.completion-dialog {
  h1 {
    background-color: #004c40;
    margin: 0px;
    opacity: 0.8;
    color: white !important;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}
.completion-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  h4 {
    margin: 20px 0;
  }
  .score-report {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}
