@import 'css/colors.scss';
@import 'css/colors.scss';

.words-container {
  line-height: 80px;
  overflow: hidden;
  padding: 0 20px;
  word-break: break-word;
  flex-grow: 1;
  @media all and (max-width: 480px) {
    line-height: 60px;
  }
}
.content {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.input-container {
  background-color: $primary-color;
  padding-bottom: 10px;
  display: flex;
  flex: none;
  justify-content: center;
}
input {
  margin-top: auto;
  height: 40px;
  width: 95%;
  flex: none;
  font-weight: bold;
  padding-left: 2%;
  border-radius:10px;
  outline: none;

}
.metric-score {
  font-family: 'Fredoka One', cursive;
  color: $secondary-color;
  opacity: 0.7;
}
.transitionable {
  transition: all 0.5s;
}
.disabled {
  opacity: 0.1;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.scoreboard-container {
  padding: 5px;
  background-color: $primary-color;
}

.secondary-toolbar {
  justify-content: center;
  height: auto;
  padding: 5px 24px;
  background-color: $primary-color;
  & div:not(:last-child) {
    margin-right: 6.25rem;
    @media all and (max-width: 480px) {
      margin-right: 2.5rem;
    }
  }
}

.score-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin: 0px;
    color: $secondary-color;
    opacity: 0.6;
    font-weight: bold;
    text-align: center;
  }
  h3,
  .row {
    font-size: 2.5rem;
    @media all and (max-width: 480px) {
      font-size: 1.25rem;
    }
  }
  .icon {
    color: $secondary-color;
    opacity: 0.6;
    margin-right: 1rem;
  }
  .row {
    margin-top: 5px;
    align-items: center;
  }
}
.progress-bar {
  background-color: $primary-light;
  height: 3.125rem;
  box-shadow: 0 0 10px $primary-light;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media all and (max-width: 991px) {
  }
  @media all and (max-width: 768px) {
  }
  @media all and (max-width: 480px) {
    height: 1.25rem;
  }
}
.joyride-step--progress-bar {
  height: 60%;
}
input {
  font-family: 'Roboto', sans-serif;
  flex: none;
}

.SUCCESS {
  color: $correct-letter;
}
.FAILED {
  color: $wrong-letter;
}
.NEUTRAL {
  color: $neutral-letter;
}

.letter {
  transition: color 0.6s;
}

.word {
  color: black;
  font-family: 'Fredoka One', cursive;
  border-radius: 15px;
  display: inline-block;
  transition: background-color 0.6s;
}
.correct-word {
  background-color: $correct-word;
  color: rgba(0, 128, 0, 0.8196078431372549);
}

.incorrect-word {
  background-color: rgba(255, 0, 0, 0.09019607843137255);
  color: rgba(255, 0, 0, 0.9490196078431372);
}

.restart {
  cursor: pointer;
}
.completion-dialog {
  h1 {
    background-color: $primary-dark;
    margin: 0px;
    opacity: 0.8;
    color: $secondary-color !important;
    display: flex;
    justify-content: center;
    padding: 0px;
  }
}
.completion-dialog {
  h1 {
    svg {
      width: 15vw;
      height: 15vw;
      color: $secondary-color;
    }
  }
}
#completion-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  h4 {
    margin: 20px 0;
  }
  #your-score {
    align-self: end;
    font-size:20px;
  }
  h3,
  span {
    color: $primary-color;
  }
  .score-report {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top:10px;
  }
  i {
    color: $primary-color;
  }
}

.joyride-box--wpm {
  line-height: 25px;
}
