.size1 {
  font-size: 40px;
}
.size2 {
  font-size: 37px;
}
.size3 {
  font-size: 28px;
}
.size4 {
  font-size: 21px;
}
.svg-size1 {
  height:55px;
  width:55px;
}

@media only screen and (max-width: 576px) {
  .size1 {
    font-size: 35px;
  }
  .size2 {
    font-size: 28px;
  }
  .size3 {
    font-size: 22px;
  }
  .size4 {
    font-size: 18px;
  }
  .svg-size1 {
    height:35px;
    width:35px;
  }
  .svg-size-huge {
    height:100px;
    width:100px;
  }
  
}
