@import 'css/colors.scss';

.welcome-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  .title {
    display: flex;
    justify-content: center;
    background-color: $primary-color;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    color: white;
    opacity: 0.7;
    margin: 0px;
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 16px;
  }
  .content {
    display: flex;
    flex-direction: column;
    // text-align:center;
    font-family: 'Roboto', sans-serif;
    padding: 0px 10px;
  }
  button {
    margin-top: auto;
    color: white;
    font-size: 30px;
    height: 10vh;
    background-color: $primary-color;
    font-family: 'Roboto', sans-serif;
    border: 0px;
  }
  .keyboard-icon {
    height: 150px;
    width: 150px;
    display: flex;
  }
  .question-mark {
    color: $primary-dark;
    font-size: 120%;
    margin-left: 5px;
  }
  .number-svg {
    height: 24px;
    width: 24px;
  }
}
