/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=00796B&primary.text.color=ffffff */

/** BreakPoints */
// .gameContainer {
  @media all and (max-width: 991px) {  }
  @media all and (max-width: 768px) {  }
  @media all and (max-width: 480px) {  }
// }

@import 'css/functions.scss';
@import 'css/utils.scss';
@import 'css/colors.scss';
@import 'css/app-bar.scss';
@import 'css/game-container.scss';
@import 'css/typography.scss';
@import 'css/welcome-section.scss';

html {
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: auto; /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px; /*removes default style*/
  display: flex; /*enables flex content for its children*/
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.svg-wrapper {
  display:flex;
  svg {
    flex:auto;
    height:100%;
  }
}