.words-container {
  /* line-height: 5vh; */
  height: 45vh;
  font-size: 60px;
  line-height: 80px;
  overflow: hidden;
  box-shadow: inset 0 0 10px #000000;
  padding: 0 20px;
}
.tag {
  margin-right: 20px;
}
.active {
}
.SUCCESS {
  color: hsl(141, 71%, 48%);
}
.FAILED {
  color: hsl(348, 100%, 61%);
}
.NEUTRAL {
  color: hsl(0, 0%, 21%);
}

.letter {
  transition: color 0.6s;
}
.word {
  transition: background-color 0.6s;
}
.word {
  color: black;
  display: inline-block;
  font-family: 'Fredoka One', cursive;
  border-radius: 15px;
}
.correct-word {
  background-color: #0080001a;
  color: #008000d1;
}

.incorrect-word {
  background-color: #ff000017;
  color: #ff0000f2;
}

.space {
  font-size: 100px;
}
#scoreboard th {
  text-align: center;
  width: calc(100% / 3);
  font-size: 30px;
  font-family: 'Fredoka One', cursive;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
input {
  font-family: 'Roboto', sans-serif;
}
